<% if @book.errors.any? %>
  <div class="bg-red-500 text-white p-4 rounded-lg shadow-lg mb-4">
    <p><strong>There were some errors:</strong></p>
    <ul class="list-disc list-inside">
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_with model: @book, class: "space-y-4 bg-gray-200 p-6 rounded-lg shadow-lg" do |f| %>
  <div>
    <%= f.label :title, class: "block text-sm font-medium text-black" %>
    <%= f.text_field :title, class: "mt-1 block w-full px-3 py-2 bg-gray-300 text-black border border-gray-200 rounded-lg focus:ring focus:ring-gray-500" %>
  </div>
  <div>
    <%= f.label :author, class: "block text-sm font-medium text-black" %>
    <%= f.text_field :author, class: "mt-1 block w-full px-3 py-2 bg-gray-300 text-black border border-gray-200 rounded-lg focus:ring focus:ring-gray-500" %>
  </div>
  <div>
    <%= f.label :description, class: "block text-sm font-medium text-black" %>
    <%= f.text_area :description, class: "mt-1 block w-full px-3 py-2 bg-gray-300 text-black border border-gray-200 rounded-lg focus:ring focus:ring-gray-500" %>
  </div>
  <div>
    <%= f.submit "Save", class: "bg-gray-800 hover:bg-gray-700 text-white py-2 px-4 rounded-lg" %>
  </div>
<% end %>
