<h1>Book List</h1>
<%= link_to "Add Book", new_book_path %>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.title, book %> - <%= book.author %>
      (<%= link_to "Edit", edit_book_path(book) %> | 
       <%= link_to "Delete", book, method: :delete, data: { confirm: "Are you sure?" } %>)
    </li>
  <% end %>
</ul>
