<h1 class="text-3xl font-semibold mb-2"><%= @book.title %></h1>
<p class="text-gray-400 mb-2"><strong>Author:</strong> <%= @book.author %></p>
<p class="text-gray-400 mb-4"><strong>Description:</strong> <%= @book.description %></p>

<h2 class="text-xl font-semibold mb-3">Borrowing History</h2>
<div class="bg-gray-300 p-4 rounded-lg shadow-lg">
  <ul class="divide-y divide-gray-400">
    <% @book.borrowings.each do |borrowing| %>
      <li class="py-3">
        <strong class="text-gray-800"><%= borrowing.borrower_name %></strong> - Borrowed at: <%= borrowing.borrowed_at %>
        <% if borrowing.returned_at %>
          <span class="text-gray-500">(Returned at: <%= borrowing.returned_at %>)</span>
        <% else %>
          <%= form_with model: [@book, borrowing], method: :patch, class: "inline-block ml-4" do |f| %>
            <%= f.submit "Return Book", class: "bg-gray-800 hover:bg-gray-700 text-white py-1 px-3 rounded-lg" %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<h2 class="text-xl font-semibold mt-6 mb-3">Borrow This Book</h2>
<div class="bg-gray-200 p-4 rounded-lg shadow-lg">
  <%= form_with model: [@book, Borrowing.new], class: "space-y-3" do |f| %>
    <div>
      <%= f.label :borrower_name, class: "block text-sm font-medium text-black" %>
      <%= f.text_field :borrower_name, class: "mt-1 block w-full px-3 py-2 bg-gray-300 text-black border border-gray-200 rounded-lg focus:ring focus:ring-gray-500" %>
    </div>
    <%= f.submit "Borrow", class: "bg-gray-800 hover:bg-gray-700 text-white py-2 px-4 rounded-lg" %>
  <% end %>
</div>
