<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>Description:</strong> <%= @book.description %></p>

<h2>Borrowing History</h2>
<ul>
  <% @book.borrowings.each do |borrowing| %>
    <li>
      <strong><%= borrowing.borrower_name %></strong> - Borrowed at: <%= borrowing.borrowed_at %>
      <% if borrowing.returned_at %>
        (Returned at: <%= borrowing.returned_at %>)
      <% else %>
        <%= form_with model: [@book, borrowing], method: :patch do |f| %>
          <%= f.submit "Return Book" %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Borrow This Book</h2>
<%= form_with model: [@book, Borrowing.new] do |f| %>
  <%= f.label :borrower_name %>
  <%= f.text_field :borrower_name %>
  <%= f.submit "Borrow" %>
<% end %>

<%= link_to "Back to Books", books_path %>
